@font-face {
    font-family: Pixel;
    src: url('../fonts/pixel.ttf') format('truetype');
}

@font-face {
    font-family: iPU;
    src: url('../fonts/ipixelu.ttf') format('truetype')
}

@font-face {
    font-family: Origami Mommy;
    src: url('../fonts//origa.ttf') format('truetype')
}

@font-face {
    font-family: Upheaval;
    src: url('../fonts/upheaval.ttf') format('truetype')
}
