@font-face {
    font-family: Pixel;
    src: url('../fonts/pixel.ttf') format('truetype');
}

@font-face {
    font-family: iPU;
    src: url('../fonts/ipixelu.ttf') format('truetype')
}

@font-face {
    font-family: Origami Mommy;
    src: url('../fonts//origa.ttf') format('truetype')
}

@font-face {
    font-family: Upheaval;
    src: url('../fonts/upheaval.ttf') format('truetype')
}

@font-face {
    font-family: Squared Display;
    src: url('../fonts/squareddisplay.ttf') format('truetype')
}

@font-face {
    font-family: Percy Pixel;
    src: url('../fonts/percypixel.ttf') format('truetype')
}
